@import url("./assets/CSS/header.css");
@import url("./assets/CSS/carrosselPrincipal.css");
@import url("./assets/CSS/ourProducts.css");
@import url("./assets/CSS/banners.css");
@import url("./assets/CSS/about.css");
@import url("./assets/CSS/partner.css");
@import url("./assets/CSS/benefits.css");
@import url("./assets/CSS/footer.css");

:root {
  /* Cores */
  --cor-neutra-dark: #1f1e1f;
  --cor-primary-red: #ed0132ff;
  --cor-terciaria-medio: #d2f704;

  --cor-primaria-dark: #c13724;
  --cor-primaria-light: #ee6451;
  --cor-primaria-bg-menu: rgba(238, 100, 81, 0.4);
  --cor-secundaria-light: #fff5eb;
  --cor-secundaria-dark: #f5e6d6;
  --cor-terciaria-dark: #a2b72b;
  --cor-terciaria-light: #eff2e1;
  --cor-neutra-medio: #b9b9b9;
  --cor-neutra-light: #ffffff;
  --cor-primaria-box-shadow: rgba(193, 55, 36, 0.4);
  --cor-secundaria-box-shadow: rgba(162, 183, 43, 0.4);

  /* Tipografia */
  --font-nunito: "Nunito", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;

  /* Tamanhos de fonte */
  --fonte-size-s: 0.813rem;
  --fonte-size-b: 1rem;
  --fonte-size-m: 1.25rem;
  --fonte-size-xm: 1.5rem;
  --fonte-size-xmm: 1.75rem;
  --fonte-size-l: 2rem;
  --fonte-size-xl: 2.5rem;
  --font-size-xxl: 3rem;
  --font-size-xxxl: 4.5rem;

  /* Altura da linhas */
  --line-height: 120%;

  /* Espaçamentos */
  --padding-xs: 0.25rem;
  --padding-s: 0.5rem;
  --padding-ms: 0.75rem;
  --padding-m: 1rem;
  --padding-l: 1.5rem;
  --padding-xl: 2rem;
  --padding-xxl: 2.5rem;
  --padding-3xl: 3.75rem;
  --padding-4xl: 4rem;
  --padding-5xl: 4.75rem;

  --margin-xs: 0.25rem;
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 2.5rem;
  --margin-3xl: 3.75rem;
  --margin-4xl: 4rem;
  --margin-5xl: 4.75rem;

  --gap-xs: 0.25rem;
  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 1.5rem;
  --gap-xl: 2rem;
  --gap-xxl: 2.5rem;
  --gap-xxxl: 6rem;
}

* {
  font-family: var(--font-nunito);
}

body {
  width: 100%;
  background-color: #ccc;
}

.ourProducts,
.about,
.partner,
.benefits {
  width: 90vw;
  margin: var(--margin-xl) auto;
}

.subtitle {
  background-color: var(--cor-neutra-dark);
  padding: var(--padding-xl);
  text-align: center;
  font-size: var(--fonte-size-l);
  color: var(--cor-primary-red);
  font-family: var(--font-nunito);
  font-weight: 700;
}

/* ===== Botões ===== */

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.5rem 1rem 2.3rem;
  background: linear-gradient(130deg, red 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn:hover {
  transform: scale(1.1);
}
