.about {
  width: 90%;
  height: auto;
  background-color: #232220;
  padding: 0 var(--padding-m) var(--padding-m) var(--padding-m);
  box-sizing: border-box;
  border-radius: 2rem;
  margin: -5rem auto 3rem;

  @media screen and (width > 1220px) {
    padding-bottom: var(--padding-4xl);
    width: 75%;
  }

  .about__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);

    @media screen and (width > 1120px) {
      flex-direction: row;
    }

    .about__container-content {
      flex: 1;
      background-color: var(--cor-neutra-dark);
      padding: var(--padding-l);
      border: 2px solid var(--cor-primary-red);
      border-radius: 1rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--gap-xl);
      font-size: var(--fonte-size-xm);
      line-height: 1.2;
      text-align: justify;

      @media screen and (width > 1420px) {
      }

      .banner-card {
        background-image: url("../img/mini-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        min-height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cards {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .magic__card {
        height: 20vh;
        margin: 0 0 11vh;
        .task {
          position: relative;
          overflow: hidden;
          cursor: pointer;
          transform-style: preserve-3d;

          .abstract,
          .details {
            box-sizing: border-box;
            padding: var(--padding-m);
            width: 100%;
            position: relative;
            background: #1f1e1f;
            color: #ccc;
            border-radius: 1rem;
            box-shadow: 0 0 15px rgba(236, 4, 4, 0.8);
            font-size: var(--fonte-size-xm);
          }

          .abstract {
            min-height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--gap-m);
            text-align: center;
            transition: 0.3s ease all;

            h6 {
              font-size: var(--fonte-size-xmm);
              font-weight: 600;
            }
          }

          .details {
            max-height: 0;
            padding: 0;
            overflow: hidden;
            visibility: hidden;
            transform: translateX(-180deg);
            transform-origin: top center;
            backface-visibility: hidden;
            transition: 0.3s transform ease;

            .details__inner {
              text-align: center;
              padding: 2rem;
            }
          }

          .details::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 10%;
            right: 10%;
            height: 1px;
            background: grey;
          }

          &:hover .abstract,
          &:hover .details {
            background: #e90736;
            color: #000;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          }

          &:hover .details {
            max-height: none;
            overflow: visible;
            visibility: visible;
            transform: rotateX("0deg");
            height: 10rem;
          }
        }
      }
    }
  }
}
