.bannerOne {
  width: 100%;
  background-color: #000;
  padding: var(--padding-xl);
  box-sizing: border-box;

  .bannerOne-titulo {
    text-align: center;
    color: #fff;
    padding-bottom: var(--padding-xl);

    h4 {
      font-size: var(--fonte-size-l);
      @media screen and (width > 1020px) {
        font-size: var(--fonte-size-xl);
      }
    }
  }
  .bannerOne-descricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-l);

    @media screen and (width > 1020px) {
      max-width: 70vw;
      margin: 0 auto;

      h5 {
        font-size: var(--fonte-size-l);
      }
      p {
        font-size: var(--fonte-size-m);
      }
    }

    .banner-card {
      flex: 1 0 250px;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      color: #fff;

      .icone-banner {
        color: #ff0000;
        font-size: var(--font-size-xxl);
      }
      h5 {
        color: #ff0000;
        padding-bottom: 0.5rem;
      }
    }
  }
}

/* ===== Banner 02 ===== */

.bannerTwo {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/corrente.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.bannerTwo span {
  font-size: 2rem;
  color: red;
}

.bannerTwo h3 {
  padding-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.bannerTwo p {
  margin: 1rem auto;
  max-width: 60rem;
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}
