footer {
  background-color: #000;
  h5 {
    color: var(--cor-primary-red);
    font-size: var(--fonte-size-l);
    padding: var(--padding-xl);
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);

    .logo-dev__img {
      width: 50vw;

      @media screen and (width > 720px) {
        width: 40vw;
      }
      @media screen and (width > 720px) {
        width: 30vw;
      }
    }
    .links-dev {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--gap-l);
      padding-bottom: var(--padding-xl);

      .bi {
        color: #fff;
        font-size: var(--fonte-size-xm);
        padding: var(--padding-ms);
        background-color: #ff0000;
        border-radius: 50%;
      }
      .bi:hover {
        background-color: #fff;
        color: var(--cor-primary-red);
      }
    }
  }
  .footer__rights {
    text-align: center;
    padding: var(--padding-ms);
    small {
      color: #fff;
      margin-top: var(--padding-ms);
      font-size: var(--fonte-size-m);
    }
  }
}
